<!-- Intro -->
<div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">INTRO</div>
                    <h2>TO BE THE WORLD’S LEADING POWER COMPANY, ENERGIZING INDIA’S GROWTH.
                    </h2>
                    <p>PROVIDE RELIABLE POWER AND RELATED SOLUTIONS IN AN ECONOMICAL, EFFICIENT AND ENVIRONMENT FRIENDLY MANNER, DRIVEN BY INNOVATION AND AGILITY.</p>
                    <p class="testimonial-text">"Our mission here at India is to get you through those tough moments relying on our system and make digital India."</p>
                    <div class="testimonial-author">Vision - Team</div>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/intro-office.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->