<div class="container"> 
    <table class="table">
      <thead>
        <tr>
          <th>PaymentId</th>
          <th>TransactionId</th>
          <th>CustomerId</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
  
      <tbody>
          <tr>
          <!-- <tr *ngFor="let b of payment">
            <td>{{b.paymentId}}</td>
              <td>{{b.transactionId}}</td>
              <td>{{b.customerId}}</td>
              <td>{{b.amount}}</td>
              <td>{{b.status}}</td>

              -->
          </tr>
      </tbody>
    </table>
  </div>
