<br><br><br><br>
<div class="row">
    <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
            <img class="hover" src="assets/images/editProfile1.jpg"
                style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
            <div class="overlay">
                <div class="cours4 text-center">
                    <button type="button" class="btn btn-info" routerLink="/user/update-profile">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
            <div class="img-circle">
                <img class="hover" src="assets/images/password.jpg"
                    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
                <div class="overlay">
                    <div class="cours4 text-center">
                        <button type="button" class="btn btn-info" routerLink="/user/change-password">Change
                            Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
            <div class="rounded-circle">
                <img class="hover" src="assets/images/bill.jpg"
                    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
                <div class="overlay">
                    <div class="cours4 text-center">
                        <button type="button" class="btn btn-info" routerLink="/user/bills">Bill History</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
            <img class="hover" src="assets/images/viewProfile1.jpg"
                style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
            <div class="overlay">
                <div class="cours4 text-center">
                    <button type="button" class="btn btn-info" routerLink="/user/view-profile">View Profile</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
            <div class="img-circle">
                <img class="hover" src="assets/images/payment.jpg"
                    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
                <div class="overlay">
                    <div class="cours4 text-center">
                        <a type="button" class="btn btn-info" routerLink="/user/payments">Payment History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
            <div class="rounded-circle">
                <img class="hover" src="assets/images/feedback.png"
                    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
                <div class="overlay">
                    <div class="cours4 text-center">
                        <button type="button" class="btn btn-info" routerLink="/user/give-feedback">Any
                            Suggestion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>