<div class="row">

    <div class="col-md-4">
    <div class="cours2" style="overflow:hidden;">
    <img class="hover" src="assets/images/updateProfile.png"
    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
    <div class="overlay">
    <div class="cours4 text-center">
    <button type="button" class="btn btn-info">Edit Profile</button>
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="cours2" style="overflow:hidden;">
    <div class="img-circle">
    <img class="hover" src="assets/images/changePassword.png"
    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
    <div class="overlay">
    <div class="cours4 text-center">
    <button type="button" class="btn btn-info">Change Password</button>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-4">
    <div class="cours2" style="overflow:hidden;">
    <div class="rounded-circle">
    <img class="hover" src="assets/images/billHistory.png"
    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
    <div class="overlay">
    <div class="cours4 text-center">
    <button type="button" class="btn btn-info">Bill History</button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="row">
        
    <!-- <div class="col-md-4">
    <div class="cours2" style="overflow:hidden;">
    <img class="hover" src="assets/images/viewProfile.png"
    style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
    <div class="overlay">
    <div class="cours4 text-center">
    <button type="button" class="btn btn-info">View Profile</button>
    </div>
    </div>
    </div>
    </div> -->
    
    <div class="col-md-4">
        <div class="cours2" style="overflow:hidden;">
        <div class="img-circle">
        <img class="hover" src="assets/images/payment.png"
        style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
        <div class="overlay">
        <div class="cours4 text-center">
        <button type="button" class="btn btn-info">Payment History</button>
        </div>
        </div>
        </div>
        </div>
        </div>
    
        <!-- <div class="col-md-4">
            <div class="cours2" style="overflow:hidden;">
            <div class="rounded-circle">
            <img class="hover" src="assets/images/billHistory.png"
            style="width:100%;height:200px;border:1px solid transparent;transition:1s;">
            <div class="overlay">
            <div class="cours4 text-center">
            <button type="button" class="btn btn-info" (click)="navigateToViewBillHistory()">Bill History</button>
            </div>
            </div>
            </div>
            </div>
            </div> -->
    </div>
    
    
    