<br>
<br>
<br>
<br>
<div class="container">
    <form name="myForm" #getTokenForm="ngForm" (ngSubmit)="this.getPasswordResetToken(getTokenForm.value)" *ngIf="!token">
        <br>
        <h5 style="color:#17A2B8 ">Reset Password</h5>
        <hr style="background: #17A2B8">
    
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email" 
            placeholder="Enter your email"  ngModel required email>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
             <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        </div>
        </div>
        <input type="submit" [disabled]="getTokenForm.invalid" id="submitbutton" class="btn" value="Get Reset Link" />
</form>
    <form name="myForm" #resetPasswordForm="ngForm" (ngSubmit)="this.resetPassword(resetPasswordForm.value)" *ngIf="token">
            <br>
            <h5 style="color:#17A2B8 ">Reset Password</h5>
            <hr style="background: #17A2B8">
        
            <div class="form-group">
                <label for="newPassword">New Password :</label>
                <input type="password" #newPassword="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  
                [class.is-invalid]="newPassword.invalid && newPassword.touched" class="form-control" name="newPassword" 
                placeholder="Enter new password"  ngModel required>
                <div *ngIf="newPassword.errors && (newPassword.invalid && newPassword.touched)">
                 <small class="text-danger" *ngIf="newPassword.errors.required">Password is required</small>
                 <small class="text-danger" *ngIf="newPassword.errors.pattern">Must contain at least one number and one uppercase and lowercase
                        letter, and
                        at least 6 or more characters</small>
            </div>
            </div>
            <input type="submit" [disabled]="resetPasswordForm.invalid" id="resetbutton" class="btn" value="Reset Password" />
    </form>
</div><br><br> 