<br><br><br><br>
<div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Bill List</h2>
        </div>
        <div class="panel-body">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th><h6>Bill ID</h6></th>
                <th><h6>City</h6></th>
                <th><h6>State</h6></th>
                <th><h6>Bill Amount</h6></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bil of bill | async">
                <td>{{bil.id}}</td>
                <td>{{bil.city}}</td>
                <td>{{bil.state}}</td>
                <td>{{bil.billamount}}</td>
                <td>
                    <button (click)="updateBill(bil.id)" class="btn btn-info">Edit</button>
                    &nbsp;&nbsp;         <button (click)="deleteBill(bil.id)" class="btn btn-danger">Delete</button>
               </td> 
              </tr>
            </tbody>
          </table>
        </div>
      </div>