
<div class="container"
fxLayout="column"
fxLayoutGap="10px">

<div fxFlex>
  <div>
      <h3>About Us</h3>
      <hr>
  </div>
</div>

<div fxFlex>
  <div fxLayout="column" fxLayout.gt-sm="row">
    <div fxFlex="70">
      <h2>Our Journey</h2>
      <p>Science and technology with all its fascinating advancements
        has been taking human life standards to the next level. The
        whole world will be literally jammed without these
        innovations. This project is an innovation, which makes the
        way of paying electricity bill simple compared to other
        existing projects. This project has been implemented using
        Angular as front end and Oracle as back end. The purpose
        of the project is to build an application program to reduce the
        manual work for managing the amount of units consumed by
        the customers and generating the electricity bill according to
        the type of customer – individual or commercial. It displays
        the details of the customers, units consumed by them and bill
        history. It enables them pay their bill if not paid. The date of
        payment will be updated while paying the bill. It maintains
        error free database and easily incorporates the future
        developments and changes. 
        </p>
      <p>The EBMS brings a lot of faclity to <em>The Society</em>, a successful chain started by our CEO, Raj Bhushan, that featured for the first time the world's best electricity bill management system.</p>
    </div>
    <div fxFlex="30">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
          <h2>Facts At a Glance</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <dl>
            <dt>Started</dt>
            <dd>15 May. 2020</dd>
            <dt>Major Stake Holder</dt>
              <dd>RISHAB AND VIKAS GROPU</dd>
              <dt>Last Year's Turnover</dt>
              <dd>$1,250,375</dd>
              <dt>Employees</dt>
              <dd>400</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>Great mind have purposes , other have wishes</h3>
        <footer>-- Washington Irving
          <cite>The Wit and Wisdom of Washington Irving,
            P. Pepe, Diversion Books, 2014</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


<app-footer></app-footer>
  