
.navbar{
  background-color: #113448 !important;
  transition: background-color 200ms linear;
}
/* 

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
  .navbar-fixed-top.scrolled .nav-link {
    color:#555;
  } */