<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Bill Id</th>
        <th>Due Date</th>
        <th>Total Payble</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let bill of bills">
        <td>{{bill.billId}}</td>
        <td>{{bill.duedate}}</td>
        <td>{{bill.billamount + bill.billfine}}</td>
        <td>{{bill.flagpaid==0?"Not Paid":"Paid"}}</td>
        <td><button (click)="viewBillDetails(bill.billId)">View</button>&nbsp;|&nbsp;<button
            (click)="downloadBillPdf(bill.billId)">Download</button>&nbsp;|&nbsp;<button
            *ngIf="bill.flagpaid==0" (click)="makePayment(bill.billId)">Pay</button></td>

      </tr>
    </tbody>
  </table>
  <div *ngIf="bills.length == 0">
    No Bills found!
  </div>
</div>