<!-- About -->
<div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/socket.gif" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7 col-xl-6">
                <div class="text-container">
                    <div class="section-title">ABOUT</div>
                    <h2>We're Passionate About Delivering Growth Services</h2>
                    <p>Our goal is to provide the right electricity services at the appropriate time so people can benefit from the created momentum and relax for a long period of time</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Everything we provide has direct positive impact</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">You will become an important assest of our company</div>
                        </li>
                    </ul>

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="231">231</div>
                            <div class="counter-info">Happy<br>Users</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="121">21</div>
                            <div class="counter-info">Issues<br>Solved</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="159">159</div>
                            <div class="counter-info">Good<br>Reviews</div>
                        </div>
                    </div>

                </div>
            </div> 
        </div> 
    </div> 
</div> 