<!-- Services -->
<div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">SERVICES</div>
                <h2>Services And Modules<br> That Complete Our System</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-1.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Customer Module</h3>
                        <p>The main aim of this module is provide all the
                             functionality related to customer. It tracks all the information of the customer.
                              You should develop all type of CRUD (Create, Read, Update and Delete) operations
                               of the customer. This is a role based module where admin can perform each
                                and every operations on data but the customer will be able to view only 
                                his/her data</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Admin can add new customers</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Admin can see the list of customer details</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Only admin can edit, update and delete the record of the customer</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">All customer forms are validated on client side</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-2.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Bill Module</h3>
                        <p>The main aim for developing this module is to manage the bill. This bill module is the main module in this project Electricity Billing System. So all bill will be managed by admin. It tracks all the information of the bill. You have to develop all type of CRUD (Create, Read, Update and Delete) operations of the bill. Customer will be able to see his bill details.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Admin can add new bill</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Admin can manage the bill</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Admin can edit/delete the bill</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Admin can see the list of all bill</div>
                            </li>
                            
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Customer can see his bill</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-3.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Payment Module</h3>
                        <p>The main aim of this module is provide all the functionality related to payment. It tracks all the information and details of the payment. Admin will manage all payment and customer will be able to see their connection.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Admin can see the list of payment details </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Only admin can edit and update the record of the payment</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"> All payment forms are validated on client side</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of services -->
