<!-- Services -->
<div class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title-admin">Welcome to ADMIN SERVICES!</h2>
                <h2>Choose The Service<br> you want to avail</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-1.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">View Bills</h3>
                        <p>Perfect for fresh ideas or young startups, this package will help get the business off the ground</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Environment and competition</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Designing the marketing plan</div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="customerView">Click here</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->
                

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-2.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Edit Profile</h3>
                        <p>Use this service pack to give your company the necessary impulse to become an industry leader</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Business strategy planning</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Taking the planned actions</div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="#callMe">Click here</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-3.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">View Reports</h3>
                        <p>You already are a reference point in your industry now you need to learn about acquisitions</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Maintaining the leader status</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Acquisitions the right way</div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="#callMe">Click here</a>
                    </div> <!-- end of button-container -->
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of services -->
