<div class="container"> 
    <table class="table">
      <thead>
        <tr>
          <th>BillId</th>
          <th>InvoiceId</th>
          <th>Unit</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
      </thead>
  
      <tbody>
          <tr>
          <!-- <tr *ngFor="let b of bill">
            <td>{{b.billId}}</td>
              <td>{{b.invoiceId}}</td>
              <td>{{b.unit}}</td>
              <td>{{b.amount}}</td>
              <td>{{b.status}}</td>

              -->
          </tr>
      </tbody>
    </table>
  </div>
