<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Bill</title>
</head>

<body>
    <div class="wrapper">
        <!-- <div class="container"> -->
            

        <div class="container" [hidden]="submitted" style="width: 500px">
            <h3>Add Bill Details</h3>
            <form (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                <div class="form-group row">
                    <label for="name" class="col-sm-3">City:   </label>
                    <input type="text" class="form-control" id="city" name="city" [(ngModel)]="billr.city" required
                    [(ngModel)]="billr.city">
                </div>

                <div class="form-group row">
                    <label class="col-sm-3">State:</label>
                    <input type="text" class="form-control" id="state" name="state" [(ngModel)]="billr.state" required
                    [(ngModel)]="billr.state">
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-3">Phone Num:</label>
                    <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" [(ngModel)]="billr.mobilenumber" required
                    [(ngModel)]="billr.mobilenumber">
                </div>

                <div class="form-group row" >
                    <label for="name" class="col-sm-3">Payment status</label>
                    <select class="form-control" id="flagpaid" name="flagpaid" [(ngModel)]="billr.flagpaid" required
                    [(ngModel)]="billr.flagpaid">
                        <option disabled selected value>Select payment status</option>
                        <option value="0">Not Paid</option>
                        <option value="1">Paid</option>
                    </select>          
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-3">Unit Consumed</label>
                    <input type="number" class="form-control" id="unitconsumption" name="unitconsumption" [(ngModel)]="billr.unitconsumption" required
                    [(ngModel)]="billr.unitconsumption">
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-3">Unit Rate</label>
                    <input type="number" class="form-control" id="unitrate" name="unitrate" [(ngModel)]="billr.unitrate" required
                    [(ngModel)]="billr.unitrate">
                </div>

                <div class="form-group row">
                        <label for="name" class="col-sm-3">Total Amount</label>
                        <input type="number" class="form-control" id="billamount" name="billamount" [(ngModel)]="billr.billamount" required
                        [(ngModel)]="billr.billamount">
                </div>

                   
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        
        <div class="container" [hidden]="!submitted">
            <h4>Bill Submission Status</h4>
            <h4>You submitted the bill successfully!</h4>
            <a routerLink="/customerView">Go to List</a>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>
