<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container about">
                    <h4>Company</h4>
                    <p class="white">Capgemini Technology Services, India</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Tools</h4>
                    <ul class="list-unstyled li-space-lg white">
                        <li>
                            <a class="white" >STS</a>
                        </li>
                        <li>
                            <a class="white" >Visual Studio Code</a>
                        </li>
                        <li>
                            <a class="white" >MySQL Installer</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Softwares</h4>
                    <ul class="list-unstyled li-space-lg white">
                        <li>
                            <a class="white">Spring Micro-Services</a>
                        </li>
                        <li>
                           <a class="white" >Angular 9</a>
                        </li>
                        <li class="media">
                            <a class="white">BootStrap</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Project Access</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li>
                            <a class="white" href="https://github.com/vikashvk/Electricity-Billing-System">Github Repository</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2020 <a>Electricity Billing System</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->

<style>
    .footer {
      /* position: bottom; */
      background-position-y: bottom;
 
    } .copyright {
      position: -webkit-sticky;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    </style>
    