<br>
<br>
<br>
<br>

 &nbsp; &nbsp; &nbsp; <h2>My Profile</h2>
  <!-- <mat-spinner></mat-spinner> -->


  <div class="container"> 
    <table class="table">
         <tr>First Name :<td>{{customer.firstName}}</td></tr>
         <tr>Last Name :<td>{{customer.lastName}}</td></tr>
         <tr>Mobile No. :<td>{{customer.mobile}}</td></tr>
         <tr>Address Line 1: <td>{{customer.line1}}</td></tr>
         <tr>Address Line 2: <td>{{customer.line2}}</td></tr>
         <tr>City: <td>{{customer.city}}</td></tr>
         <tr>State: <td>{{customer.state}}</td></tr>
         <tr>Pincode :<td>{{customer.pincode}}</td></tr>
         <tr>Country :<td>{{customer.country}}</td></tr>
    </table>
  </div>

  
  <!--FOr viewing the profile-->
