<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1>ELECTRICITY <span id="js-rotating">BILLING SYSTEM</span></h1>
                        <p class="p-heading p-large">EBS is a system that is meant to partially computerize the work performed in the Electricity Board</p>
                        <a class="btn-solid-lg page-scroll" routerLink="/admin">ADMIN</a>
                        <a class="btn-solid-lg page-scroll" routerLink="/login">CUSTOMER</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
