<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<br><br><br><br>
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Bill List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th><h6>Bill ID</h6></th>
            <th><h6>City</h6></th>
            <th><h6>State</h6></th>
            <th><h6>Bill Amount</h6></th>
            <th><h6>Phone number</h6></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bil of bill | async">
            <td>{{bil.id}}</td>
            <td>{{bil.city}}</td>
            <td>{{bil.state}}</td>
            <td>{{bil.billamount}}</td>
            <td>{{bil.mobilenumber}}</td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  