<br>
<br>
<br>
<br>
<div class="container">
    <form name="myForm" #changePasswordForm="ngForm" (ngSubmit)="this.changePassword(changePasswordForm.value)">
            <br>
            <h5 style="color:#17A2B8 ">Change Password</h5>
            <hr style="background: #17A2B8">
            <div class="form-group">
                <label for="currentPassword">Current Password :</label>
                <input type="password" #currentPassword="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  
                [class.is-invalid]="currentPassword.invalid && currentPassword.touched" class="form-control" name="currentPassword" 
                placeholder="Enter Current Password" ngModel required>
                <div *ngIf="currentPassword.errors && (currentPassword.invalid && currentPassword.touched)">
                 <small class="text-danger" *ngIf="currentPassword.errors.required">Password is required</small>
                 <small class="text-danger" *ngIf="currentPassword.errors.pattern">Must contain at least one number and one uppercase and lowercase
                    letter, and
                    at least 6 or more characters</small>
            </div>
            </div>

            <div class="form-group">
                <label for="newPassword">New Password :</label>
                <input type="password" #newPassword="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  
                [class.is-invalid]="newPassword.invalid && newPassword.touched" class="form-control" name="newPassword" 
                placeholder="Enter new password"  ngModel required>
                <div *ngIf="newPassword.errors && (newPassword.invalid && newPassword.touched)">
                 <small class="text-danger" *ngIf="newPassword.errors.required">Password is required</small>
                 <small class="text-danger" *ngIf="newPassword.errors.pattern">Must contain at least one number and one uppercase and lowercase
                        letter, and
                        at least 6 or more characters</small>
            </div>
            </div>
            <input type="submit" [disabled]="changePasswordForm.invalid" id="submitbutton" class="btn" value="Change" />&nbsp;&nbsp;&nbsp;
            <input type="submit"  id="submitbutton" class="btn" (click)="cancel()" value="cancel" />
    </form>
</div><br><br> 

<!--For changing the password-->